<% include ../partials/header.ejs %>
    <h1>Nova Pessoa</h1>
    <p><a href="/pessoas">Voltar a lista de pessoas</a></p>
    <table class="table table-striped table-hover table-bordered">
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </table>
<% include ../partials/footer.ejs %>